@use "./../../../../public/styles/forms-pages.scss";
#container {
    background-color: #ffffffcc;
    backdrop-filter: blur(8px);
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    padding: 40px 50px;
    width: 400px;
    text-align: center;
    overflow-y: auto;
    max-height: 90vh;
}
h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 25px;
}
label {
    display: block;
    text-align: left;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}
button {
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(90deg, #5b86e5, #36d1dc);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.error {
    font-size: 13px;
    margin-top: -8px;
    margin-bottom: 10px; 
    text-align: left;
}
a {
    color: #5b86e5;
    text-decoration: none;
    font-weight: 500;
}
p {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
}